### Download the data from Zillow
https://www.zillow.com/research/data/

## All home - Price by Zipcode

Select </br>
Data Type: ZHVI All Homes (SFR, Condo/Co-op) Times Series, Smoothed, Seasonally Adjusted </br>
Geography: Zip

Save As Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

In [7]:
import pandas as pd

df_price = pd.read_csv('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
df_price

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31,2021-08-31
0,61639,0,10025,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,329121.0,...,1093037.0,1127372.0,1121064.0,1110998.0,1099806.0,1107533.0,1114251.0,1115204.0,1119620.0,1127675.0
1,84654,1,60657,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,311929.0,...,500225.0,502851.0,503891.0,505210.0,505244.0,507160.0,507826.0,510428.0,514248.0,518202.0
2,61637,2,10023,Zip,NY,NY,New York,New York-Newark-Jersey City,New York County,500887.0,...,1486747.0,1485429.0,1466975.0,1456323.0,1442068.0,1453164.0,1454137.0,1454892.0,1457717.0,1468826.0
3,91982,3,77494,Zip,TX,TX,Katy,Houston-The Woodlands-Sugar Land,Harris County,225325.0,...,350432.0,354939.0,358995.0,363611.0,369082.0,375735.0,382697.0,391365.0,402167.0,413199.0
4,84616,4,60614,Zip,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,405926.0,...,639551.0,642996.0,643988.0,645551.0,645691.0,648002.0,647952.0,650415.0,654356.0,659224.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30518,66169,34430,20052,Zip,DC,DC,Washington,Washington-Arlington-Alexandria,District of Columbia,NaN,...,1367641.0,1369837.0,1384601.0,1384451.0,1405055.0,1424150.0,1441557.0,1447899.0,1444186.0,1443140.0
30519,89666,34430,72630,Zip,AR,AR,Diamond City,Harrison,Boone County,NaN,...,108694.0,109449.0,109125.0,109261.0,109262.0,110988.0,113103.0,115215.0,116346.0,118818.0
30520,62532,34430,12345,Zip,OR,OR,Central Point,Medford,Jackson County,NaN,...,138230.0,142056.0,147807.0,153233.0,156233.0,157603.0,160445.0,164505.0,167843.0,169411.0
30521,87060,34430,66045,Zip,KS,KS,Lawrence,Lawrence,Douglas County,NaN,...,218319.0,224935.0,229679.0,233487.0,235114.0,236058.0,240993.0,248180.0,254156.0,256756.0
30522,58379,34430,1470,Zip,MA,MA,Groton,Boston-Cambridge-Newton,Middlesex County,NaN,...,393614.0,395539.0,394368.0,397171.0,393535.0,395358.0,398496.0,412007.0,420479.0,427623.0

In [8]:
df_price[['State','RegionName','2020-12-31']].head()

  State  RegionName  2020-12-31
0    NY       10025   1127372.0
1    IL       60657    502851.0
2    NY       10023   1485429.0
3    TX       77494    354939.0
4    IL       60614    642996.0

## All home - Rent by Zipcode

Select </br>
Data Type: ZORI(Smoothed, Seasonally Adjusted) - All houses plus Multifamily time series </br>
Geography: Zipcode </br>
</br>
Save As Zip_ZORI_AllHomesPlusMultifamily_SSA.csv

In [3]:
df_rent = pd.read_csv('Zip_ZORI_AllHomesPlusMultifamily_SSA.csv')
df_rent.head()

,RegionID,RegionName,SizeRank,MsaName,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,...,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07
0,61639,10025,1,"New York, NY",2889.0,2904.0,2919.0,2934.0,2949.0,2963.0,...,2954.0,2944.0,2934.0,2924.0,2917.0,2909.0,2902.0,2899.0,2897.0,2894.0
1,84654,60657,2,"Chicago, IL",1406.0,1411.0,1416.0,1422.0,1426.0,1431.0,...,1597.0,1595.0,1593.0,1591.0,1590.0,1588.0,1587.0,1586.0,1585.0,1584.0
2,61637,10023,3,"New York, NY",3003.0,3012.0,3022.0,3031.0,3041.0,3050.0,...,2949.0,2937.0,2925.0,2913.0,2904.0,2894.0,2885.0,2880.0,2874.0,2869.0
3,91982,77494,4,"Houston, TX",1390.0,1387.0,1384.0,1381.0,1379.0,1376.0,...,1378.0,1387.0,1395.0,1404.0,1414.0,1423.0,1432.0,1442.0,1452.0,1462.0
4,84616,60614,5,"Chicago, IL",1692.0,1697.0,1702.0,1707.0,1712.0,1716.0,...,1922.0,1922.0,1922.0,1921.0,1922.0,1922.0,1922.0,1924.0,1926.0,1928.0

Since most of the salary data I have is from 2020, I would like take the price and rent at 2020-12 from Zillow. (I assume it does not flutuate too much in 2020.)