### Download the data from Zillow
https://www.zillow.com/research/data/

## All home - Price by county

Select </br>
Data Type: ZHVI All Homes (SFR, Condo/Co-op) Times Series, Smoothed, Seasonally Adjusted </br>
Geography: County

Save As County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv

In [1]:
import pandas as pd

df = pd.read_csv('County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
df

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,1996-01-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31
0,3101,0,Los Angeles County,County,CA,CA,Los Angeles-Long Beach-Anaheim,6,37,176590.0,...,687998.0,694954.0,701797.0,708899.0,717023.0,725546.0,736602.0,753097.0,772166.0,790721.0
1,139,1,Cook County,County,IL,IL,Chicago-Naperville-Elgin,17,31,181217.0,...,267012.0,269365.0,271499.0,273124.0,275739.0,278186.0,281511.0,284397.0,287929.0,291229.0
2,1090,2,Harris County,County,TX,TX,Houston-The Woodlands-Sugar Land,48,201,101622.0,...,211682.0,213753.0,215825.0,218345.0,221050.0,223181.0,225732.0,228876.0,233548.0,238585.0
3,2402,3,Maricopa County,County,AZ,AZ,Phoenix-Mesa-Scottsdale,4,13,115103.0,...,323262.0,328940.0,334994.0,342125.0,349297.0,357529.0,364779.0,375406.0,387044.0,400076.0
4,2841,4,San Diego County,County,CA,CA,San Diego-Carlsbad,6,73,175544.0,...,656884.0,667567.0,678553.0,690090.0,701775.0,713657.0,728400.0,747896.0,770632.0,792531.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,425,3101,Camas County,County,ID,ID,Hailey,16,25,NaN,...,145278.0,146418.0,147867.0,149691.0,152544.0,156147.0,159487.0,162753.0,165682.0,168428.0
2871,1648,3102,Daggett County,County,UT,UT,NaN,49,9,NaN,...,212578.0,214794.0,217154.0,219256.0,221378.0,223564.0,226940.0,230074.0,233274.0,235664.0
2872,2345,3112,Hinsdale County,County,CO,CO,NaN,8,53,NaN,...,325731.0,327984.0,330398.0,332701.0,334586.0,337273.0,340541.0,344548.0,348143.0,350707.0
2873,1933,3122,Mineral County,County,CO,CO,NaN,8,79,NaN,...,284877.0,287858.0,290903.0,293855.0,297563.0,299271.0,300451.0,301972.0,306155.0,310946.0
2874,2518,3124,San Juan County,County,CO,CO,NaN,8,111,NaN,...,292391.0,294884.0,298140.0,300863.0,302926.0,304331.0,305700.0,307684.0,310368.0,313302.0

## All home - Rent by county

Select </br>
Data Type: ZORI(Smoothed, Seasonally Adjusted) - All houses plus Multifamily time series </br>
Geography: County </br>
</br>
Save As Metro_ZORI_AllHomesPlusMultifamily_SSA.csv

In [2]:
df = pd.read_csv('Metro_ZORI_AllHomesPlusMultifamily_SSA.csv')
df

,RegionID,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,...,2020-10,2020-11,2020-12,2021-01,2021-02,2021-03,2021-04,2021-05,2021-06,2021-07
0,102001,United States,0,1356.0,1361,1367.0,1373,1378,1384,1390,...,1712,1721,1729,1738,1747,1757,1766,1776.0,1786,1796
1,394913,"New York, NY",1,2205.0,2214,2224.0,2234,2244,2254,2264,...,2437,2433,2428,2424,2421,2418,2415,2414.0,2413,2413
2,753899,"Los Angeles-Long Beach-Anaheim, CA",2,1868.0,1879,1890.0,1902,1913,1924,1935,...,2529,2538,2546,2554,2563,2572,2581,2591.0,2601,2611
3,394463,"Chicago, IL",3,1437.0,1441,1445.0,1449,1453,1456,1460,...,1651,1653,1655,1657,1659,1662,1664,1667.0,1670,1674
4,394514,"Dallas-Fort Worth, TX",4,1179.0,1182,1186.0,1190,1194,1198,1202,...,1519,1529,1540,1551,1562,1573,1585,1597.0,1608,1620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,394549,"Durham, NC",104,1211.0,1214,1218.0,1221,1225,1228,1231,...,1491,1499,1506,1514,1521,1529,1537,1546.0,1554,1562
101,394995,"Port St. Lucie, FL",119,1101.0,1109,1118.0,1126,1134,1143,1151,...,1707,1729,1751,1773,1796,1819,1842,1865.0,1889,1912
102,394602,"Fort Collins, CO",159,1196.0,1202,1208.0,1215,1221,1228,1234,...,1535,1543,1551,1559,1568,1576,1584,1593.0,1602,1611
103,394405,"Boulder, CO",162,1469.0,1477,1484.0,1491,1499,1507,1514,...,1930,1942,1953,1965,1977,1989,2001,2013.0,2026,2038
104,394623,"Gainesville, GA",229,953.0,955,957.0,959,962,965,967,...,1353,1373,1392,1411,1431,1450,1470,NaN,1512,1533